@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body{
  text-align: center;  
  background-image: url("https://source.unsplash.com/OL3NXdEwfnI");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Bevan', cursive;
    font-size: 70px;
    letter-spacing: 30px;
    background: #3B0ECF;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #3B0ECF 0%, #FF1249 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #3B0ECF 0%, #FF1249 100%);
    background: radial-gradient(circle farthest-corner at center center, #3B0ECF 0%, #FF1249 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    margin-bottom: 0;
}

h1:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

h3 {
    line-height: 2;
    margin-left: 28%;
    margin-right: 28%;
    font-family: 'Bevan', cursive;
    letter-spacing: 3px;
    font-size: 22px;
    background: #F7FF14;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #F7FF14 0%, #21FF19 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #F7FF14 0%, #21FF19 100%);
    background: radial-gradient(circle farthest-corner at center center, #F7FF14 0%, #21FF19 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}


h4 {
    font-family: 'Bevan', cursive;
    letter-spacing: 3px;
    font-size: 16px;
    background: #F7FF14;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #F7FF14 0%, #21FF19 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #F7FF14 0%, #21FF19 100%);
    background: radial-gradient(circle farthest-corner at center center, #F7FF14 0%, #21FF19 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

footer p {
    text-align: center;
    font-size: 12px;
    cursor: default;
    font-family: "Gloria Hallelujah", cursive;
    letter-spacing: 3px;
    margin: 30px 0 5px 0;
    color: #f7f7f7;
  }
  
  footer p:hover {
    color: lime;
    transform: scale(1.01);
    transition-duration: 0.5s;
  }

  .icons {
      text-align: center;
      margin-top: 10px;
  }

  #linkedin, #github, #discord, #codepen, #mail {
      color: #f7f7f7;
      padding: 0 10px;
  }

  #linkedin:hover, #github:hover, #discord:hover, #codepen:hover, #mail:hover {
    color: lime;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: deepskyblue;
    border-radius: 20px;
  }
